.tree-title {
    font-size: 14px;
    padding: 2px 2px;
}

.top_right {
    height: 40px;
    float: right;
}

.top_right ul {
    float: right;
    padding-right: 25px;
    list-style-type:none
}

.top_right ul li {
    float: left;
    padding-left: 9px;
    padding-right: 9px;
}

.top_right ul li:last-child {
    background: none;
}

.top_right ul li a {
    text-decoration:none;
    font-size: 14px;
    color: #e9f2f7;
}

.top_right ul li a:hover {
    color: #fff;
}

.top_right ul li span {
    margin-top: 2px;
    float: left;
    padding-right: 3px;
}

.top_user {
    height: 30px;
    background: url(../img/ub1.png);
    clear: both;
    float: right;
    border-radius: 30px;
    white-space: nowrap;
    position: relative;
}

.top_user span {
    display: inline-block;
    padding-right: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #b8ceda;
    padding-left: 15px;
}

.top_user b {
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../img/msg.png);
    text-align: center;
    font-weight: normal;
    color: #fff;
    font-size: 14px;
    margin-right: 13px;
    margin-top: 7px;
    line-height: 18px;
}

.top_user i {
    display: inline-block;
    margin-right: 5px;
    font-style: normal;
    line-height: 30px;
    font-size: 14px;
    color: #b8ceda;
}