{extend name="base/base"/}
{block name="body"}
<div class="easyui-layout" data-options="fit:true">
<div data-options="region:'north',collapsible:false,border:false" style="height:100px;background-color:#6b9cde;"></div>
<div data-options="region:'west',collapsible:false,border:false" style="width:150px;">
    <ul id="menu" class="easyui-tree" ></ul>
</div>
<div data-options="region:'center',collapsible:false,border:false" style="padding:2px;background:#eee;">
    <div id="MainTabs" class="easyui-tabs" data-options="fit:true,border:false">
        <div title="控制台" data-options="closable:false,id:-1,bodyCls:'tabs_box'"
             style="padding:5px;"></div>
    </div>
</div>
<div data-options="region:'south',collapsible:false,border:false" style="height:20px;text-align: center">
    <strong>Powered by li | Copyright © All rights reserved.</strong>
</div>
</div>
{/block}
{block name="body-js"}
{load href="/static/admin/js/index.js" /}
<script type="text/javascript">
    App.init();
</script>
{/block}