
{load href="../static/easyui/themes/bootstrap/easyui.css" /}
{load href="../static/easyui/jquery.min.js" /}
{load href="../static/easyui/jquery.easyui.min.js" /}
{load href="../static/easyui/locale/easyui-lang-zh_CN.js" /}
<div class="easyui-layout" style="width:700px;height:350px;">
    <div data-options="region:'north'" title="East" style="height:50px"></div>
    <div data-options="region:'south',split:true" title="South" style="height:50px;"></div>
    <div data-options="region:'east',split:true" title="east" style="width:100px;"></div>
    <div data-options="region:'west',split:true" title="West" style="width:100px;"></div>
    <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
    </div>
</div>