{extend name="base/base"/}
{block name="body"}
<div id="user_bar" class="Bar_tools"></div>

<table id="user_data_list"></table>

{/block}
{block name="body-js"}
<script type="text/javascript">

    var user_columns = [[
        {field: 'id', title: 'ID', width: 60},
        {field: 'username', title: '用户名', width: 100},
        {field: 'role_id', title: '用户角色', width: 60},
        {field: 'status', title: '状态', width: 100},
        {field: 'login_ip', title: '最后登录IP', width: 100},
        {field: 'login_time', title: '最后登录时间', width: 100},
        {field: 'update_time', title: '最后修改时间', width: 100},
        {field: 'operate', title: '操作', width: 140}
    ]];
    var grid = {
        grid:'#user_data_list',
        toolbar:'#user_bar',
        columns:user_columns
    };
    app.initDataGridTable(grid);
</script>
{/block}