<a href='#' class='easyui-linkbutton'
   data-options="text:'编辑',iconCls:'icon-edit',plain:'false',iconAlign:'left',disabled:''" onclick=''></a> <a href='#'
                                                                                                              class='easyui-linkbutton'
                                                                                                              data-options="text:'删除',iconCls:'icon-clear',plain:'false',iconAlign:'left',disabled:''"
                                                                                                              onclick=''></a>